@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  --heading-font: "Cormorant Garamond", serif;
  --body-font: "Raleway", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  background-color: white;
  overflow-x: hidden;
}

#app-container {
  margin: 0;
  padding: 0;
}
